# üßë‚Äçüíª NumPy Complete Guided Project
**Instructor / Student Colab Notebook** ‚Äì covers *all* key concepts from `Numpy‚Äë1` to `Numpy‚Äë5`.

*Generated: 08¬†Aug¬†2025*


**Table of Contents**

1. [Setup](#setup)  
2. [Array Creation & Dtypes](#creation)  
3. [Array Attributes & Inspection](#attributes)  
4. [Indexing, Slicing, Fancy Indexing](#indexing)  
5. [Reshaping, Transpose & Copies vs‚ÄØViews](#reshape)  
6. [Joining, Splitting, Set & Sorting Ops](#join)  
7. [Arithmetic Ops, Universal Functions](#arithmetic)  
8. [Broadcasting (Rules¬†+ Examples)](#broadcast)  
9. [Statistics & Aggregations](#stats)  
10. [Random Numbers & Reproducibility](#random)  
11. [Structured¬†/ Recarrays](#structured)  
12. [Linear Algebra Essentials](#linalg)  
13. [File¬†I/O (`npy`, `npz`, `txt`)](#io)  
14. [Datetime64 & Timedelta64](#datetime)  
15. [Masked Arrays & NaNs](#mask)  
16. [Mini‚ÄëProject¬†‚Äî Fitness Data Analysis](#project)  
17. [Conclusion & Next Steps](#conclusion)

## <a name='setup'></a>1Ô∏è‚É£ Setup

In [39]:
import numpy as np, math, os, pathlib, types, textwrap, random
print('NumPy version:', np.__version__)

NumPy version: 2.0.2

## <a name='creation'></a>2Ô∏è‚É£ Array Creation & Dtypes

Key functions: `np.array`, `np.arange`, `np.linspace`, `zeros`, `ones`, `full`, `eye`, `identity`, `diag`, `empty`

In [40]:
# EXAMPLE
arr1 = np.array([1, 2, 3], dtype=np.int32)
arr2 = np.linspace(0, 1, 6)
arr3 = np.full((2,3), 7.5)
print(arr1, arr2, arr3, sep="\n")
print("dtypes:", arr1.dtype, arr2.dtype)

[1 2 3]
[0.  0.2 0.4 0.6 0.8 1. ]
[[7.5 7.5 7.5]
 [7.5 7.5 7.5]]
dtypes: int32 float64

In [41]:
# üñäÔ∏è¬†TODO: create a 10√ó10 chessboard pattern using zeros & ones
chessboard = np.zeros((10,10),dtype = int)
chessboard[1::2, ::2] = 1
chessboard[::2, 1::2] = 1
print(chessboard)

[[0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]]

## <a name='attributes'></a>3Ô∏è‚É£ Array Attributes & Inspection

`shape`, `ndim`, `size`, `dtype`, `itemsize`, `nbytes`

In [42]:
M = np.arange(12).reshape(3,4)
print('shape', M.shape, 'ndim', M.ndim, 'size', M.size, 'itemsize', M.itemsize, 'total bytes', M.nbytes)

shape (3, 4) ndim 2 size 12 itemsize 8 total bytes 96

In [43]:
# üñäÔ∏è TODO: check memory footprint of a 1000√ó1000 float64 array
arr = np.zeros((1000,1000),dtype = np.float64)
print("Memory Footprint: ")
print("size :" , arr.size, '\nitemsize:' , arr.itemsize, '\ntotal bytes:', arr.nbytes)

Memory Footprint:
size : 1000000
itemsize: 8
total bytes: 8000000

## <a name='indexing'></a>4Ô∏è‚É£ Indexing, Slicing & Fancy Indexing

In [44]:
a = np.arange(1,26).reshape(5,5)
print(a[:, 0])     # first column
print(a[::2, ::2]) # every 2nd row/col
mask = (a % 3 == 0)
print('multiples of 3:', a[mask])

[ 1  6 11 16 21]
[[ 1  3  5]
 [11 13 15]
 [21 23 25]]
multiples of 3: [ 3  6  9 12 15 18 21 24]

In [45]:
# üñäÔ∏è TODO: use fancy indexing to swap first and last rows of `a`
a = np.arange(1,26).reshape(5,5)
print(a)
# a[0,::] , a[len(a)-1,::] = a[len(a)-1,::] , a[0,::]
a[[0, -1]] = a[[-1, 0]]
print(a)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]
[[21 22 23 24 25]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [ 1  2  3  4  5]]

## <a name='reshape'></a>5Ô∏è‚É£ Reshaping, Transpose & Copies vs‚ÄØViews

In [46]:
b = np.arange(8)
B = b.reshape(2,4)
B[0,0] = 99
print('b is modified:', b)
C = b.reshape(2,4).copy()
C[0,0] = -1
print('b unchanged with copy:', b)

b is modified: [99  1  2  3  4  5  6  7]
b unchanged with copy: [99  1  2  3  4  5  6  7]

In [47]:
# üñäÔ∏è TODO: Flatten a 3‚ÄëD array into 1‚ÄëD using both `ravel` and `flatten`; observe copy vs view.
arr = np.arange(1,13).reshape(2,2,3)
r = arr.ravel()
c = arr.flatten()
print("\nAfter assigning: ",arr,'\nr : ',r,'\nc : ',c)
r[1] =  100
print("\nAfter modifying r[1]",arr,'\nr : ',r,'\nc : ',c)
c[1] = 999
print("\nAfter modifying c", arr,'\nr : ',r,'\nc : ',c)

After assigning:  [[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]
r :  [ 1  2  3  4  5  6  7  8  9 10 11 12]
c :  [ 1  2  3  4  5  6  7  8  9 10 11 12]

After modifying r[1] [[[  1 100   3]
  [  4   5   6]]

 [[  7   8   9]
  [ 10  11  12]]]
r :  [  1 100   3   4   5   6   7   8   9  10  11  12]
c :  [ 1  2  3  4  5  6  7  8  9 10 11 12]

After modifying c [[[  1 100   3]
  [  4   5   6]]

 [[  7   8   9]
  [ 10  11  12]]]
r :  [  1 100   3   4   5   6   7   8   9  10  11  12]
c :  [  1 999   3   4   5   6   7   8   9  10  11  12]

## <a name='join'></a>6Ô∏è‚É£ Joining, Splitting, Set & Sorting Ops

In [48]:
x = np.array([1,3,5]); y = np.array([2,4,6])
xy = np.concatenate([x,y])
print('union', np.union1d(x,y))
print('intersect', np.intersect1d(xy,[1,2,10]))
print('sorted descending', np.sort(xy)[::-1])

union [1 2 3 4 5 6]
intersect [1 2]
sorted descending [6 5 4 3 2 1]

In [49]:
# üñäÔ∏è TODO: split `xy` back into two equal halves using `np.array_split`
a,b = np.array_split((xy),2)
print(a,b)

[1 3 5] [2 4 6]

## <a name='arithmetic'></a>7Ô∏è‚É£ Arithmetic Ops & Universal Functions

In [50]:
v = np.arange(5)
print('exp', np.exp(v))
print('sin', np.sin(v))
print('vectorised addition', v + 10)

exp [ 1.          2.71828183  7.3890561  20.08553692 54.59815003]
sin [ 0.          0.84147098  0.90929743  0.14112001 -0.7568025 ]
vectorised addition [10 11 12 13 14]

In [51]:
# üñäÔ∏è TODO: given degrees [0,30,45,60,90], compute radians and sin values.
deg = np.array([0, 30, 45, 60, 90])

rad = np.radians(deg)

sin_values = np.sin(rad)

print("Degrees:", deg)
print("Radians:", rad)
print("Sine values:", sin_values)

Degrees: [ 0 30 45 60 90]
Radians: [0.         0.52359878 0.78539816 1.04719755 1.57079633]
Sine values: [0.         0.5        0.70710678 0.8660254  1.        ]

## <a name='broadcast'></a>8Ô∏è‚É£ Broadcasting Rules

Rules: compare dimensions from right ‚Üí left; stretch size 1 dims; mismatch error.

In [52]:
row = np.arange(5)
col = np.arange(3).reshape(3,1)
matrix = row + col  # broadcast to 3√ó5
print(matrix)

[[0 1 2 3 4]
 [1 2 3 4 5]
 [2 3 4 5 6]]

In [53]:
# üñäÔ∏è TODO: use broadcasting to create a 10√ó10 multiplication table.

a = np.arange(1, 11)
table = a[:, None] * a
print(table)

[[  1   2   3   4   5   6   7   8   9  10]
 [  2   4   6   8  10  12  14  16  18  20]
 [  3   6   9  12  15  18  21  24  27  30]
 [  4   8  12  16  20  24  28  32  36  40]
 [  5  10  15  20  25  30  35  40  45  50]
 [  6  12  18  24  30  36  42  48  54  60]
 [  7  14  21  28  35  42  49  56  63  70]
 [  8  16  24  32  40  48  56  64  72  80]
 [  9  18  27  36  45  54  63  72  81  90]
 [ 10  20  30  40  50  60  70  80  90 100]]

## <a name='stats'></a>9Ô∏è‚É£ Statistics & Aggregations

In [54]:
data = np.random.default_rng(0).integers(1, 100, size=(5,4))
print('data\n', data)
print('row sums', data.sum(axis=1))
print('col means', data.mean(axis=0))

data
 [[85 64 51 27]
 [31  5  8  2]
 [18 81 65 91]
 [50 61 97 73]
 [63 54 56 93]]
row sums [227  46 255 281 266]
col means [49.4 53.  55.4 57.2]

In [55]:
# üñäÔ∏è TODO: compute `np.percentile` (25th, 50th, 75th) of flattened `data`.
p = np.percentile(data, [25, 50, 75])
print("Data:\n", data)
print("25th, 50th, 75th percentiles:", p)

Data:
 [[85 64 51 27]
 [31  5  8  2]
 [18 81 65 91]
 [50 61 97 73]
 [63 54 56 93]]
25th, 50th, 75th percentiles: [30.  58.5 75. ]

## <a name='random'></a>üîü Random Numbers & Reproducibility

In [56]:
rng = np.random.default_rng(42)
rand_floats = rng.random(5)
rand_ints = rng.integers(low=10, high=50, size=5)
print(rand_floats, rand_ints)
rng2 = np.random.default_rng(42)
assert np.allclose(rand_floats, rng2.random(5))

[0.77395605 0.43887844 0.85859792 0.69736803 0.09417735] [31 49 39 40 38]

In [57]:
# üñäÔ∏è TODO: simulate rolling a fair six‚Äësided die 100 times; estimate proportion of 6s.
rolls = np.random.default_rng().integers(1, 7, size=100)
prop = np.mean(rolls == 6)
print("Proportion of 6s:", prop)

Proportion of 6s: 0.18

## <a name='structured'></a>1Ô∏è‚É£1Ô∏è‚É£ Structured / Record Arrays

In [58]:
people = np.array([('Alice', 25, 55.0), ('Bob', 30, 85.5)],
                   dtype=[('name','U10'), ('age','i4'), ('weight','f4')])
print(people['name'], people['age'].mean())

['Alice' 'Bob'] 27.5

In [59]:
# üñäÔ∏è TODO: add a new field 'height' to the structured array using `np.lib.recfunctions.append_fields` (hint: pip install?).
!pip install numpy --upgrade
import numpy.lib.recfunctions as rfn

heights = [165.0, 180.0]
people_new = rfn.append_fields(people, 'height', heights, dtypes='f4', usemask=False)

print(people_new)

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.3.2)
[('Alice', 25, 55. , 165.) ('Bob', 30, 85.5, 180.)]

## <a name='linalg'></a>1Ô∏è‚É£2Ô∏è‚É£ Linear Algebra Essentials

In [60]:
A = np.random.random((3,3))
b = np.random.random(3)
x = np.linalg.solve(A, b)
print('A¬∑x ‚âà b?', np.allclose(A.dot(x), b))

A¬∑x ‚âà b? True

In [61]:
# üñäÔ∏è TODO: compute eigenvalues of `A` using `np.linalg.eig`.
eigvals, eigvecs = np.linalg.eig(A)
print("Eigenvalues:", eigvals)
print("Eigenvectors:\n", eigvecs)

Eigenvalues: [ 1.16891993  0.13511875 -0.15051204]
Eigenvectors:
 [[ 0.12050164  0.7490222  -0.40649369]
 [ 0.92009485 -0.6085687  -0.03446554]
 [ 0.37269937 -0.26193489  0.91300329]]

## <a name='io'></a>1Ô∏è‚É£3Ô∏è‚É£ File‚ÄØI/O (`npy`, `npz`, `txt`)

In [62]:
np.save('array.npy', A)
loaded = np.load('array.npy')
print('loaded equals A?', np.allclose(loaded, A))
np.savez('multi_arrays.npz', A=A, b=b)

loaded equals A? True

In [63]:
# üñäÔ∏è TODO: Use `np.savetxt` to write `data` (from stats section) to CSV then reload with `np.loadtxt`.

data = np.random.default_rng(0).integers(1, 100, size=(5, 4))
np.savetxt('data.csv', data, delimiter=',', fmt='%d')
loaded_data = np.loadtxt('data.csv', delimiter=',', dtype=int)

print("Original data:\n", data)
print("Loaded data:\n", loaded_data)
print("Equal?", np.array_equal(data, loaded_data))

Original data:
 [[85 64 51 27]
 [31  5  8  2]
 [18 81 65 91]
 [50 61 97 73]
 [63 54 56 93]]
Loaded data:
 [[85 64 51 27]
 [31  5  8  2]
 [18 81 65 91]
 [50 61 97 73]
 [63 54 56 93]]
Equal? True

## <a name='datetime'></a>1Ô∏è‚É£4Ô∏è‚É£ Datetime64 & Timedelta64

In [64]:
dates = np.arange('2023-01', '2023-04', dtype='datetime64[D]')
delta = dates[1:] - dates[:-1]
print(dates[:5], delta[0])

['2023-01-01' '2023-01-02' '2023-01-03' '2023-01-04' '2023-01-05'] 1 days

In [65]:
# üñäÔ∏è TODO: find how many Mondays appear in `dates` array.

mondays = np.sum(dates.astype('datetime64[D]').astype(int) % 7 == 0)
print("Number of Mondays:", mondays)

Number of Mondays: 13

## <a name='mask'></a>1Ô∏è‚É£5Ô∏è‚É£ Masked Arrays & NaNs

In [66]:
arr = np.array([1, 2, np.nan, 4, np.nan])
masked = np.ma.masked_invalid(arr)
print(masked.mean())

2.3333333333333335

In [67]:
# üñäÔ∏è TODO: replace NaNs with column means in a 2‚ÄëD array containing NaNs.
arr = np.array([[1, 2, np.nan],
                [4, np.nan, 6],
                [7, 8, 9]], dtype=float)

col_means = np.nanmean(arr, axis=0)
inds = np.where(np.isnan(arr))
arr[inds] = np.take(col_means, inds[1])
print(arr)

[[1.  2.  7.5]
 [4.  5.  6. ]
 [7.  8.  9. ]]

## <a name='project'></a>1Ô∏è‚É£6Ô∏è‚É£ Mini‚ÄëProject: Fitness Data Analysis

Load `fitness.txt` (tab‚Äëseparated) then follow prompts.

In [68]:
fitness = np.genfromtxt('fitness.txt', delimiter='\t', dtype=None, encoding=None, names=True)
fitness = np.genfromtxt(
    'fitness.txt',
    delimiter='\t',
    dtype=None,
    encoding='utf-8',
    # errors='ignore',
    names=True
)

print('columns:', fitness.dtype.names, 'rows:', len(fitness))

columns: ('date', 'step_count', 'mood', 'calories_burned', 'hours_of_sleep', 'bool_of_active', 'weight_kg') rows: 96

In [69]:
# üñäÔ∏è TODO: Monthly step count, sleep vs mood correlation, weekly summary, etc.


dates = np.array([d.decode() if isinstance(d, bytes) else d for d in fitness['date']])
d = np.array(['-'.join(reversed(date.split('-'))) for date in dates], dtype='datetime64[D]')

m = d.astype('datetime64[M]')
months = np.unique(m)
monthly_steps = {str(mm): fitness['step_count'][m == mm].sum() for mm in months}

sleep = fitness['hours_of_sleep']
mood = fitness['mood']
corr = np.corrcoef(sleep, mood)[0, 1]

w = ((d - d.min()).astype(int) // 7) + 1
weeks = np.unique(w)
wsum = [(wk, fitness['step_count'][w == wk].mean(), sleep[w == wk].mean(), mood[w == wk].mean()) for wk in weeks]

print("Monthly steps:", monthly_steps)
print("Sleep-Mood corr:", corr)
print("Weekly summary:", np.array(wsum, dtype=[('week','i4'),('steps','f4'),('sleep','f4'),('mood','f4')]))

Monthly steps: {'2017-10': np.int64(79051), '2017-11': np.int64(103071), '2017-12': np.int64(89565), '2018-01': np.int64(10163)}
Sleep-Mood corr: 0.2104166644730015
Weekly summary: [( 1, 4684.4287, 5.571429 , 128.57143)
 ( 2, 2662.1428, 6.285714 , 128.57143)
 ( 3, 2863.1428, 5.571429 , 157.14285)
 ( 4, 2399.5715, 5.857143 , 257.14285)
 ( 5, 3554.4285, 4.571429 , 285.7143 )
 ( 6, 3875.8572, 5.285714 , 300.     )
 ( 7, 3309.8572, 5.571429 , 285.7143 )
 ( 8, 2668.    , 6.       , 257.14285)
 ( 9, 2929.4285, 7.       , 271.42856)
 (10, 3742.1428, 4.142857 , 185.71428)
 (11, 2654.4285, 4.428571 , 171.42857)
 (12, 3000.5715, 4.428571 , 171.42857)
 (13, 1189.4286, 3.2857144, 142.85715)
 (14, 1023.2   , 5.       , 220.     )]

## <a name='conclusion'></a>1Ô∏è‚É£7Ô∏è‚É£ Conclusion & Further Practice
Congrats on covering **all core NumPy topics** from your five lecture notebooks!

*Keep experimenting, read the official docs, and try converting your NumPy pipelines into Pandas or JAX for more fun.*